bin/
build/
obj/
packages/
.fake/
.paket/paket.exe
paket-files
.idea/
.vs/
.vscode/
.ionide/
.dotnet
.problem-specifications/
*.fsproj.user
*.DotSettings.user
BenchmarkDotNet.Artifacts/
BenchmarkDotNet.Bin/
!/bin
/bin/configlet
msbuild.log
