name: Check Docs

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - name: Setup .NET
        uses: actions/setup-dotnet@131b410979e0b49e2162c0718030257b22d6dc2c
        with:
          dotnet-version: "9.0.101"

      - name: Validate Code Snippets
        run: pwsh ./bin/check-code-snippets.ps1
