name: Check Docs

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  verify:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - uses: actions/setup-dotnet@45c9f236cf9a0c09d11298348f6ed06bd81914c0
        with:
          dotnet-version: "6.0.100"

      - name: Validate Code Snippets
        run: |
          dotnet build /v:m -c Release tools/CodeFenceChecker/CodeFenceChecker.fsproj
          pwsh -Command ./check-code-snippets.ps1 -Exclude concepts/if-then-else-expressions,exercises/concept/cars-assemble
