name: Check Docs

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - name: Setup .NET
        uses: actions/setup-dotnet@21e81f65ddb80069d5591297dcd4703c0d9824d2
        with:
          dotnet-version: "9.0.101"

      - name: Validate Code Snippets
        run: pwsh ./bin/check-code-snippets.ps1
