name: Check Docs

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Setup .NET
        uses: actions/setup-dotnet@5c125af7da1b2700edf7106be3a4f8a60f495f59
        with:
          dotnet-version: "9.0.101"

      - name: Validate Code Snippets
        run: pwsh ./bin/check-code-snippets.ps1
