name: Test

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602
        with:
          dotnet-version: "9.0.101"

      - name: Run tests
        run: pwsh ./bin/test.ps1
